<!DOCTYPE html>
<html lang="en" ng-app="memGame">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Emissary : Memory Game</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/memory.css" rel="stylesheet">
  </head>

  <body ng-controller="MainController as vm">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Memory</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse"></div>
      </div>
    </nav>




    <div class="container">

      <h1>Memory</h1>
      <p class="msg" ng-bind="vm.gameSvc.msg"></p>
      <button ng-click="vm.gameSvc.init()" ng-show="vm.gameSvc.gameover">Play Again</button>

      <div class="grid_holder"  cardsarray='vm.gameSvc.cardsarray'>
        
        <div class="flip" ng-repeat="card in vm.gameSvc.cardsarray track by $index"> 
            <div class="card" ng-class="{selected:card.selected}" ng-click="vm.gameSvc.cardClick(card)"> 
                <div class="face front"><span class="hidded">{{card.val}}</span></div> 
                <div class="face back">{{card.val}}</div> 
            </div> 
        </div>         

      </div>



      <p id="msg" ng-bind="'Score: ' + vm.gameSvc.score"></p>

    </div>
    


    
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>    
    
  </body>
</html>